controller_manager:
  ros__parameters:
    update_rate: 100
    
    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController
      
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

arm_controller:
  ros__parameters:
    joints:
      - magician_joint_1
      - magician_joint_2
      - magician_joint_3
    
    command_interfaces:
      - position
    
    state_interfaces:
      - position
    
    allow_integration_in_goal_trajectory: true