<?xml version="1.0" ?>
<robot name="my_robot" xmlns:xi="http://www.w3.org/2001/XInclude">

    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find my_robot_controller)/config/robot_controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>